@font-face {
    font-family: VeraMono;
    src: url(../assets/fonts/VeraMono.ttf);
}

@media only screen and (orientation: landscape) {
    #title{
        font-size: 0.9em;
        margin-top: calc(2vw + 2vh);
        
        background-color: rgb(10, 10, 10);
        padding: calc(0.5vw + 0.5vh);
        width: 15%;
        margin-left: auto;
        margin-right: auto;
    }

    #emailSection{
        margin-top: 1em;
    
        width: 25%;
        position: absolute;
        left: 60%;
        margin-left: -50%;

        background-color: rgb(10, 10, 10);
    }
    #emailGreeting{
        border-style: dotted;
        padding: 0.5em;
        border-radius: 0.5em;
    
        color: #8fc3e9;
        font-size: calc(0.62vw + 0.62vh);
    }
    #emailContent{
        margin-top: 1.5em;
        margin-left: 0.5em;
    
        text-align: left;
    
        font-size: calc(0.8vw + 0.8vh);
    }
    
    #socialSection{
        font-family: VeraMono;

        margin-top: 1em;
    
        width: 25%;
        position: absolute;
        right: 60%;
        margin-right: -50%;
        
        background-color: rgb(10, 10, 10);
    }
    #socialGreeting{
        border-style: dotted;
        padding: 0.5em;
        border-radius: 0.5em;
    
        color: #d0b4cf;
        font-size: calc(0.62vw + 0.62vh);
    }
    #socialContent{
        margin-top: 1.5em;
        margin-left: 0.5em;
    
        text-align: left;
    
        font-size: calc(0.8vw + 0.8vh);
    }

    input{
        width: auto;
    }

    .field{
        font-family: Calibri;
        font-size: 0.9vw;
    }
}
@media only screen and (orientation: portrait) {
    #title{
        font-size: 0.9em;
        margin-top: calc(3.5vw + 5.5vh);
        
        background-color: rgb(10, 10, 10);
        padding: calc(0.5vw + 0.5vh);
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    #emailSection{
        font-family: VeraMono;

        margin-top: 1.5em;
    
        width: 40%;
        margin-left: 5.5%;
        
        background-color: rgb(10, 10, 10);
    }
    #emailGreeting{
        border-style: dotted;
        padding: 0.5em;
        border-radius: 0.5em;
    
        color: #8fc3e9;
        font-size: calc(0.62vw + 0.62vh);
    }
    #emailContent{
        margin-top: 1.5em;
        margin-left: 1.0em;
    
        text-align: left;
    
        font-size: calc(0.8vw + 0.8vh);
    }
    
    #socialSection{
        margin-top: calc(7.0vh + 5.5vw);
    
        width: 40%;
        margin-left: 5.5%;
        
        background-color: rgb(10, 10, 10);
    }
    #socialGreeting{
        border-style: dotted;
        padding: 0.5em;
        border-radius: 0.5em;
    
        color: #d0b4cf;
        font-size: calc(0.62vw + 0.62vh);
    }
    #socialContent{
        margin-top: 1.5em;
        margin-left: 1.0em;

        text-align: left;
    
        font-size: calc(0.8vw + 0.8vh);
    }

    input{
        width: 75%;
    }

    .field{
        font-family: Calibri;
        font-size: 0.9vw;
    }
}

.error{
    color: red;
    margin-top: 3em;
    font-size: calc(0.4vh + 0.4vw);

    font-family: VeraMono;

    visibility: hidden;
}

.required{
    color: red;
    margin-left: 8px;
}

#contact{
    font-size: calc(1.5vh + 1.5vw);
}

.blockTitle{
    margin-bottom: 0.5em;
}

.block{
    margin-top: calc(0.8vh + 0.8vw);
    width: 120%;
}

.greeting{
    margin: 1vh;
}

#messageTitle{
    margin: 1vh;
}

textarea {
    resize: none;
}

.socialSite{
    text-align: left;

    margin-top: 1vh;
    margin-bottom: 1.25vh;
}
.socialImage{
    height: 1em;
}

a{
    color: white;
}